body{
    text-align: center;
    background-image: linear-gradient(cyan,blue,green);
}
#family_img{
    width:25%;
    height: 60%;
}
button{
    font-size:25px;
    background-color:bisque;
    border-radius:20%;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size:  40px;
    color: blue;
  
}
h3{
    font-size: 30px;
    color:purple;
    font-weight: bold;
    
}